
.estudiante-container {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #e3f2fd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.notes-list {
    list-style: none;
    padding: 0;
}

.notes-list li {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #bbdefb;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
